$color-red: #ef232d;
$color-light: #eaeaea;
$color-highlight: #cbc5ea;
$color-lowlight: #73628a;
$color-lowlight-02: rgba(49, 61, 90, 0.5);

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	margin: 1em auto;
	text-align: center;
}

.header {
	align-items: center;
	display: flex;
	margin-left: 2em;

	img {
		height: 150px;
		width: 150px;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 2em auto;
	width: 80vw;
}

.button {
	height: 150px;
	filter: drop-shadow(0px 4px 4px #701015);
}

#saveButtonDisk,
#saveButtonV2Disk {
	opacity: 0%;
}

#saveButtonCircle02,
#saveButtonCircle03,
#saveButtonV2Circle02,
#saveButtonV2Circle03 {
	background-color: black;
	scale: 0.2;
	opacity: 0%;
}

#saveButtonSuccess {
	color: white;
	font-size: 1.25em;
	position: relative;
	top: -139px;
	left: 24px;
	opacity: 0;
}

#saveButtonV2Success {
	color: black;
	font-size: 1.75em;
	position: relative;
	top: -162px;
	left: 70px;
	opacity: 0;
}

#saveButtonCheckMark {
	opacity: 0;
	width: 60px;
	position: relative;
	top: -130px;
	left: 25px;
}

#saveButtonV2CheckMark {
	opacity: 0;
	width: 50px;
	position: relative;
	top: -117px;
	left: -25px;
}

.pointer {
	cursor: pointer;
}

#boxSpinner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2rem;
}

.box {
	background: $color-red;
	width: 3rem;
	height: 3rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
